<%- include('templates/header.ejs') %>
  <div class="flex-container">
    <div class = "form-flex">
      <h3>Create New Address</h3>
      <form action = "/addresses" method="POST">
          Street:<br>
          <input type = "text" name = "street" autofocus required>
          <br>
          City:<br>
          <input type = "text" name = "city" required>
          <br>
          Zipcode:<br>
          <input type = "text" name = "zipcode" required>
          <br>
            Contacts:<br>
            <select name="contactId">
              <% data.contacts.forEach(contact => { %>
              <option value="<%= contact.id %>"><%= contact.name %></option>
              <%})%>
            </select>
          <br>
          <br>
          <input class="waves-effect waves-light btn-large teal accent-4" type = "submit" value = "Submit">
      </form>
    </div>
    <div class = "table-flex">
      <h2>List Of Addresses</h2>
      <table class="highlight">
        <thead>
          <tr>
              <th>ID</th>
              <th>Street</th>
              <th>City</th>
              <th>Zipcode</th>
              <th>Contact Name</th>
          </tr>
        </thead>
        <tbody>
          <%data.addresses.forEach(address => { %>
          <tr>
            <td><%= address.id %></td>
            <td><%= address.street %></td>
            <td><%= address.city %></td>
            <td><%= address.zipcode %></td>
            <td><%= address.owner.name %></td>
            <td>
              <a class = 'edit-btn z-depth-1' href="/addresses/<%=address.id%>/edit">EDIT</a>
            </td>
            <td>
              <a class = 'delete-btn z-depth-1' href="/addresses/<%=address.id%>/delete">DELETE</a>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>
  </div>
<%- include('templates/footer.ejs') %>