<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contacts</title>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id='cssmenu'>
        <ul>
           <li><a href='/'>Home</a></li>
           <li><a href="contacts">Contacts</a></li>
           <li><a href="groups">Groups</a></li>
           <li><a href="addresses">Addresses</a></li>
           <li><a href="profiles">Profiles</a></li>
           <li class='active'><a href="addresses_with_contact">Address with Contacts</a></li>
       </ul>
    </div>
  <div class="landing-page">
    <div class="form-appointment">
      <div class="wpcf7" 
      id="wpcf7-f560-p590-o1">
        <form action="/addresses_with_contact" 
        method="post" 
        class="wpcf7-form">
        <div class="group">
        <div style="width: auto;">
           <!-- TABEL -->
           <table>
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Sreet</th>
                  <th scope="col">City</th>
                  <th scope="col">ZIP Code</th>
                  <th scope="col">Name</th>
                  <th scope="col">Company</th>
                  <th scope="col">Telepon</th>
                  <th scope="col">Email</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody> 
                <% for(let data = 0; data < dataJsonAddresses.length; data++) { %>
                <tr>
                  <td data-label=""><%= dataJsonAddresses[data].id %></td>
                  <td data-label=""><%= dataJsonAddresses[data].street %></td>
                  <td data-label=""><%= dataJsonAddresses[data].city %></td>
                  <td data-label=""><%= dataJsonAddresses[data].zipcode %></td>
                  <td data-label=""><%= dataJsonAddresses[data].nama %></td>
                  <td data-label=""><%= dataJsonAddresses[data].company %></td>
                  <td data-label=""><%= dataJsonAddresses[data].telp_number %></td>
                  <td data-label=""><%= dataJsonAddresses[data].email %></td>
                  <td><a href='/addresses_with_contact/edit/<%= dataJsonAddresses[data].id %>'>Edit</a></td>
                  <td><a href='/addresses_with_contact/delete/<%= dataJsonAddresses[data].id %>'>Delete</a></td> 
                  <!-- <td><a href='/contacts/<%= dataJsonAddresses[data].id %>/address'>Addresses</a></td> -->
                </tr>
                <% } %>
              </tbody>
            </table>
        </div>
       <br/>
       <br/>
       <br/>
        <div style="width: auto;">
            <span class="wpcf7-form-control-wrap text-680"></span>
            <select 
            name='name'>
              <% for(let data = 0; data < dataJsonContacts.length; data++) { %>
              <option 
              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" 
              size="45"
              aria-required="true"
              value='<%= dataJsonContacts[data].id %>'>
              <%= dataJsonContacts[data].nama %></option> 
              <%}%>
            </select>
          </span>
          <br/>
        <span class="wpcf7-form-control-wrap text-680">
            Jalan: <input 
            type="text" 
          name="street"
          size="45" 
          class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" 
          aria-required="true">
        </span>
        <br>
        <span class="wpcf7-form-control-wrap email-680">
            Kota: <input type="text" 
          name="city" 
          value="" 
          size="45" 
          class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" 
          aria-required="true">
        </span>
        <br>
        <span class="wpcf7-form-control-wrap tel-630">
            Zip Code: <input type="text" 
          name="zipcode" 
          value="" 
          size="45" 
          class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" 
          aria-required="true">
        </span>
        <br>
          <div style="text-align: center; padding-top: 2em; border-top: 1px solid rgb(153, 202, 129); margin-top: 1em;">
          <input type="submit" 
          value="Kirim" 
          class="wpcf7-form-control wpcf7-submit">
          </div>
        </div>   
      </form>
  </div>
</body>
</html>