<%- include('templates/header.ejs') %>
  <div class="form-container">
  	<h3>Assign Contacts To: <br><%= data.group.name_of_group %></h3>
  	<form action = "/groups/<%= data.group.id %>/assign-contact" method="POST">
  		Contacts:<br>
  		<select name="contactId">
  		  <% data.contacts.forEach(contact => { %>
  		  <option value="<%= contact.id %>"><%= contact.name %></option>
  		  <%})%>
  		</select>
  		<br>
  		<br>
  		<input class="waves-effect waves-light btn-large teal accent-4" type = "submit" value = "Submit">
  	</form>
  </div>
<%- include('templates/footer.ejs') %>