<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Groups List</title>
  </head>
  <body>
    <h1>Groups List</h1>
    <a href="/">Return to Home</a><br><br>
    <table>
      <thead>
        <th>No</th>
        <th>Groups</th>
        <th>Members of Groups</th>
        <th>Actions Contacts</th>
        <th>Options</th>
      </thead>
      <tbody>
        <%urut=0; if (data){data.forEach(rows=>{urut++;%>
          <tr>
            <td><%=urut%></td>
            <td><%=rows.name%></td>
            <td><%=rows.members%></td>
            <td>
              <a href="/groups/<%=rows.id%>/assign_contacts">Assign</a>
              <a href="#">|</a>
              <a href="/groups/<%=rows.id%>/unassign_contacts">Unassign</a>
            </td>
            <td>
              <a href="/groups/edit/<%=rows.id%>">Edit</a>
              <a href="#">|</a>
              <a onclick="return confirm('Are you sure to delete this data?')" href="/groups/delete/<%=rows.id%>">Delete</a>
            </td>
          </tr>
        <%})}%>
      </tbody>
    </table><br>
    <form class="" action="/groups" method="post">
      Name of Groups <br>
      <input type="text" name="name" placeholder="name of groups"><br><br>
      <button type="submit" name="button">Add Data</button>
    </form>
  </body>
</html>
