<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Data Contacts</h1>
    <a href="/">Back To Home</a>
    <form class="" action="/profiles" method="POST">
      <input type="text" name="username" placeholder="username" required>
      <input type="text" name="password" placeholder="password" required>
      <input type="text" name="contactsId" placeholder="contactsId" required>
      <input type="submit" value="SUBMIT">
    </form>
    <br>

    <table border = "1">
      <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Contact Id</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(row => { %>
      <tr>
        <td><%=row.id%></td>
        <td><%=row.username%></td>
        <td><%=row.password%></td>
        <td><%=row.contactsId%></td>
        <td>
          <a href = "/profiles/edit/<%=row.id%>">Edit</a> |
          <a href = "/profiles/delete/<%=row.id%>">Delete</a>
      </tr>
      <%  }) %>
    </tbody>
    </table>

  </body>
</html>
