<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <h1>Halaman Edit Profiles</h1>

  </td>
  </tr>
    </tbody>
    </table>
</body>
<table border = '2px'>
<form action="/profiles/edit/<%=dataProfiles.id%>" method="post">
  <label>Username : <input type="text" name="username" placeholder="Username" value = "<%=dataProfiles.username%>"> </label>
  <label>Password : <input type="text" name="password" placeholder="Password" value = "<%=dataProfiles.password%>"></label>
  <select class="" name="idContacts">
    <% dataContacts.forEach(row => { %>
     <option value="<%=row.id%>"><%=row.name%></option>
    <% })%>
  </select>
  <input type="submit" value="SUBMIT">
  <label><%=errData%></label>

</form>
</table>
</html>
