<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EXPRESS DEMO</title>
  </head>
  <body>
    <h1>CONTACT ADDRESS</h1>
    <!-- Menu -->
    <table>
      <tr>
        <td><a href="/contacts">Contacts</a></td>
      </tr>
      <tr>
        <td><a href="/groups">Groups</a></td>
      </tr>
      <tr>
        <td><a href="/addresses">Address</a></td>
      </tr>
      <tr>
        <td><a href="/profile">Profile</a></td>
      </tr>
    </table>
    <!-- Name -->
      <% for(let i = 0; i < contacts.length; i++) { %>
      <h4>Name: <%= contacts[i].name %></h4>
      <% } %>
    
    <!-- Table -->
    <table border="1px solid gray">
      <thead>
      	<tr>
      	  
      	  <th>Street</th>
      	  <th>City</th>
      	  <th>Zipcode</th>
          
      	  <th>Options</th>
      	</tr>
      </thead>
      <tbody>
      	<% for (let i = 0; i < addresses.length; i++) { %>
      	<tr>
      	  
      	  <td><%= addresses[i].street %></td>
      	  <td><%= addresses[i].city %></td>
      	  <td><%= addresses[i].zipcode %></td>
          
      	  <td>
      	  	<a href="/addresses/edit/<%= addresses[i].id %>">Edit</a>
      	  	<a href="/addresses/delete/<%= addresses[i].id %>">Delete</a>
      	  </td>
      	</tr>
      	<% } %>
      </tbody>
    </table>

    <!-- Form -->
    <form action="/addresses" method="POST">
      Street:<br>
      <input type="text" name="street" value="">
      <br>
      City:<br>
      <input type="text" name="city" value="">
      <br>
      Zipcode:<br>
      <input type="text" name="zipcode" value="">
      <br>
      <div style="display: none;">
      Name:<br>
      <select name="id_contacts">
      <% for(let i = 0; i < contacts.length; i++) { %>
      <option value="<%= contacts[i].id %>"><%= contacts[i].name %></option>
      <% } %>
      </select><br>
      </div>
      <br>
      <input type="submit" value="Submit">
    </form> 
  </body>
</html>
